* {
    padding: 0px;
    margin: 0px;
}
:root {
    --vermelho: rgba(255, 0, 0, 0.815);
    --azul: blue;
    --preto: black;
    --branco: white;
}
/*CABEÇALHO*/
header {
    width: 100%;
    height: 130px;
    background-color: snow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*MENU ICONE*/
#Menu {
    padding: 40px;
}

/*LOGO CENTRAL*/
#Logo img {
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*BOTÃO CADASTRO E LOGIN*/
#CadastroLogin {
    padding: 10px;
}
#CadastroLogin button {
    background-color: rgba(0, 0, 0, 0.79);
    width: 80px;
    height: 30px;
}
#logar {
    text-decoration: none;
    color: var(--branco);
}
#cadastrar {
    text-decoration: none;
    color: var(--branco);
}

/*Rodapé*/
footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: var(--azul);
    background-color: var(--branco);
    font-size: larger;
}
footer p, h3 {
    padding: 10px;
}
